/* html{
    width:900px;
    height:600px;
    background:white;
    padding: 20px;
    overflow: auto;
    
} */

/* editing the first section  */
h1{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size:48px;
 font-weight: 900;
 
}
button{
    background-color:#3882f6;
    border:none;
    border-radius: 12%;
    color:white;
    padding:0.5%;
    width:75px
}
.section-1,footer{
    background-color:rgb(11, 22, 45);
    color: white;
    margin:auto;
    padding:50px;

}
li{
    list-style-type:none;
    display:inline;
    margin-right: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    
}
.section-1 .header-section{
    display:flex;
    justify-content:space-between;

}
.section-1 .content-2{
    display: flex;
    justify-content:space-between;
}
.section-1 .content-2 img{
    margin-right: 75px;
}
/* editing the second section */

h2{
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size:36px;
   font-weigth:900;
   color:#1f2937;
   text-align:center;
   
}
/* section 2 */
.section-2{
    display:flex;
    justify-content:center;
    gap:30px;
}
/* eit section 3 */

.section-3{
    background-color:rgb(239, 232, 232);
    padding:50px;
    text-align:center;
    font-size: 36px;
    color:#1f2937;
    weight:300;
}

.section-4{
     padding:45px;

}
.section-4 .section-4-1{
    background-color: rgb(65, 128, 223);
    border-radius: 12px;
    display:flex;
    justify-content:space-around;
    text-align:center;
    
    
    
   
}
.section-4 #sign-up-2{
    border: white 2px solid;
    margin:15px;
   
    
}
footer{
    text-align: center;
}

